{% extends 'base.html' %}

{% block content %}
<h1 class="display-1">Login</h1>
<p class="lead">Login Below. Don't have an account?
  <a href="/register" class="text-info">Create a new account here!</a>
</p>

<form method="post">

  {{form.hidden_tag()}}

  {%for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{field.label}}
    {{field(class_='form-control')}}

    {%for error in field.errors%}
    <span class="form-text text-danger">{{error}}</span>
    {%endfor%}
  </p>
  {%endfor%}
  <button class="btn btn-success rounded-lg" type="submit">Sign In!</button>
</form>

{% endblock %}